<div class="panel panel-default" style="width: 500px;margin: 0 auto">
  <div class="panel-heading"><h4>Alteração da Forma de Pagto</h4></div>
  <div class="panel-body">  
     <%= render 'form' %>   
  </div>
</div>

<ul class="pager">
  <li><%= link_to 'Mostrar', @setor %></li>
  <li><%= link_to 'Voltar', setors_path %></li>
</ul>
