<div class="panel panel-default" style="width: 500px;margin: 0 auto">
  <div class="panel-heading"><h4>Alteração do Departamento</h4></div>
  <div class="panel-body">	
     <%= render 'form' %>   
  </div>
</div>

<ul class="pager">
  <li><%= link_to 'Mostrar', @departamento %></li>
  <li><%= link_to 'Voltar', departamentos_path %></li>
</ul>
