<h1>Cadastro de Departamentos</h1>

<div class="panel">
  <div class="panel-body"> 
         
    <% def listar(roles,options={})
        container   = options[:container] || []
        roles.each do |role|
           tag_aux = content_tag(:li,link_to(role.descr, role),class: 'novo-bullet')
           unless container.include? (tag_aux.html_safe)
             container << tag_aux.html_safe
             unless role.children.empty?
               container << '<ul>'
               listar(role.children,{:container=>container}) unless role.children.empty?
               container << "</ul>"
             end
           end
        end
        container.join("\n").html_safe
      end
    %>
    <ul>
      <%= listar(Departamento.all,{:container=>@arvore}) %>
    </ul>
   
    <% if notice %>
    <div class="alert alert-info">
       <p id="notice">
          <%= notice %>
       </p>
    </div>
    <%end%>
  </div>
</div>

<%= link_to 'Novo Departamento', new_departamento_path, :class=> 'btn btn-default' %>
