<div class="alert alert-info"><p id="notice"><%= notice %></p></div>

<p>
  <strong>Descrição:</strong>
  <%= @departamento.descr %>
</p>
<ul class="pager">
   <li><%= link_to 'Editar', edit_departamento_path(@departamento) %></li>
   <li><%= link_to 'Voltar', departamentos_path %></li>
</ul>
