<div class="panel panel-default" style="width: 800px;margin: 0 auto">
  <div class="panel-heading"><h4>Alteração da Finalidade</h4></div>
  <div class="panel-body">	
     <%= render 'form' %>   
  </div>
</div>

<ul class="pager">
   <li><%= link_to 'Mostrar', @finalidade %></li>
   <li><%= link_to 'Voltar', finalidades_path %></li>
</ul>
