<div class="panel panel-default" style="width:600px;margin: 0 auto">
  <div class="panel panel-body">
  <center><h2><span class="label label-primary">SIC - Sistema Integrado Connexxus</span></h2></center>
  <center><h3>versão 0.1 beta</h3></center>
  <center><%=image_tag('logo-mini.png',:class =>'img-thumbnail')%></center>
  </div>
</div>
