     <nav class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
 
  	      <a class="navbar-link navbar-left" href="http://www.connexxus.com.br">
        	 <%=image_tag('logo-mini.png',width: '103px', height: '50px',:class =>'img-thumbnail')%>
           </a>
        <ul class="nav navbar-nav"> 	
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li class="disabled"><a href="#">Participantes</a></li>
               <li class="disabled"><a href="#">Produtos</a></li>
               <li><a href="/finalidades">Finalidade</a></li>
               <li class="divider"></li>
               <li><a href="/departamentos">Departamentos</a></li>
               <li class="disabled"><a href="#">Categorias</a></li>
               <li class="disabled"><a href="#">Subcategorias</a></li>
               <li class="divider"></li>
               <li class="disabled"><a href="#">Forma de Pagamento</a></li>
               <li class="disabled"><a href="#">Forma de Envio</a></li>
               <li><a href="/usuarios">Usuários</a></li>
             </ul>
           </li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lançamentos<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li class="disabled"><a href="#">Compras</a></li>
               <li class="disabled"><a href="#">Pedidos</a></li>
             </ul>
           </li>
          	
           <li class="disabled"><a href="#">Relatórios</a></li>
           
           <li class="dropdown"> 
           	 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-info-sign"></i> Sobre<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li class="disabled"><a href="#">Versão</a></li>
               <li><a href="http://www.connexxus.com.br">Connexxus</a></li>
             </ul>
           </li>
           
           <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
        </ul>
    </div>
    </nav>
